* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 1rem;
}

.event-list-wrapper{
    width :100%;
    overflow-x: hidden;
}

.event-list{
    /*min-width: 200ch;*/
}

ol.event-list {
    position: relative;
    list-style-type: none;
    height: 2rem;
    border: 1px solid black;
}

ol.event-list.sun{
    height: 8rem;
    background-color: hsl(30deg 25% 80%);
}

ol.event-list.moon {
    background-color: hsl(240deg 25% 20%);
    color: hsl(240deg 75% 90%)
}

.event-list + .event-list{
    border-top: none;
}

.night, .nightEnd {
    top: 5rem;
}

.nauticalDawn, .nauticalDusk {
    top: 4rem;
}

.dawn, .dusk {
    top: 3rem;
}

.sunrise, .sunset {
    top: 2rem;
}

.sunriseEnd, .sunsetStart {
    top: 1rem;
}

.nadir, .solarNoon {
    top: 0;
}

.goldenHourEnd, .goldenHour {
    top: 6rem;
}

.data-list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-list{
    flex-basis: 30ch;
}

.data-list .item-field {
    display: inline-block;
    width: 20ch;
}

.data-list .item-value {
    display: inline-block;
    width: 10ch;
    text-align: right;
}